<!DOCTYPE html>
    <html lang="pt-BR">
    <head>
        <!-- Metadados -->
            <meta charset="utf-8">
            <meta name="Description" content="Pedidos">
            <meta name="Keywords" content="Pedidos, html, web">
            <link rel="stylesheet" href="estilo.css">
            <link rel="icon" href="Imagens/favicon.ico" type="image/x-icon">
            <meta name="viewport" content="widht=device-widht, initial-scale=1.0">
        <title>Layout Pedidos</title>
    </head>
    <body style="background: #444444;">
        <a href="index.html"><img src="Imagens/pedidos.fw.png" alt="Página pesquisar" style="width: 100%; height: 105%; margin: 0%;"></a>
        
    </body>
    </html>